%form{ :action => "/gateway", :method => "post"}
  %fieldset
  
    %label{:for => "Trigger"} Trigger Word:
    %input{:type => "text", :name => "trigger_word", :class => "text"}
    
    %label{:for => "action"} Action:
    %input{:type => "text", :name => "text", :class => "text"}
    
    %label{:for => "query"} Query:
    %input{:type => "text", :name => "query", :class => "text"}
    
    %input{:type => "submit", :value => "Send", :class => "button"}